* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
   background: url('https://images.unsplash.com/photo-1503676260728-1c00da094a0b')no-repeat center;
    background-size: cover;
    color: white;
}

.overlay {
    background: rgba(0,0,0,0.6);
    min-height: 100vh;
    padding: 20px;
}

/* HEADER */
header {
    text-align: center;
    padding: 20px;
}

/* NAVBAR */
nav {
    text-align: center;
    margin: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 8px;
    padding: 10px 15px;
    border-radius: 20px;
    background: #0077cc;
    transition: 0.3s;
}

nav a:hover {
    background: orange;
    transform: scale(1.1);
}

/* BOX */
.box {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(6px);
    text-align: center;
}

/* IMAGE */
img {
    border-radius: 10px;
    transition: 0.3s;
}

img:hover {
    transform: scale(1.05);
}

/* GALLERY */
.gallery img {
    width: 250px;
    margin: 10px;
}

/* FORM */
input, textarea, select {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: none;
}

input[type="submit"] {
    background: green;
    color: white;
}

input[type="submit"]:hover {
    background: darkgreen;
}

/* TYPING ANIMATION */
.typing {
    overflow: hidden;
    border-right: 3px solid white;
    white-space: nowrap;
    animation: typing 4s steps(30), blink .7s infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink {
    50% { border-color: transparent }
}